.content {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

.gaugerow {
	width: 80%;
	margin: 0 auto;
	height: 150px;
}

.zonerow {
	height: 300px;
}

.linediv {
	background-color: #444444;
	border-radius: 25px;
}

.zonetitle {
	color: white;
	font-style: italic;
	font-weight: bold;
	font-size: 24;
}

#title {
	color: #e1e1e1;
	font-style: italic;
	font-weight: bold;
	font-size: 36;
}