<html>
  <head>
    <title>Oatmeal</title>

    {% load static %}
    
    <script src="{% static 'app/jquery-3.4.1.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'app/bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'app/dark.css' %}" />
    <link rel="stylesheet" href="{% static 'app/main.css' %}" />
    <script src="{% static 'app/charts.js' %}"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge', 'line', 'corechart']});
      google.charts.setOnLoadCallback(setupCharts);

      function setupCharts() {
          let datapoints;
          {% for zone in zones %}
            drawTempGauge('{{ zone.name }}', {{ zone.temp.value }});
            drawHumidGauge('{{ zone.name }}', {{ zone.humid.value }});
            datapoints = [
                {% for hist in zone.history %}
                    [new Date("{{ hist.time.isoformat }}"), {{hist.temp}}, {{hist.humid}}],
                {% endfor %}
            ];
            drawTempLine('{{ zone.name }}', datapoints);
          {% endfor %}
      }
    </script>
  </head>
  <body>
    <div class="container content">
      <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
          <h1 id="title">The Real Oatmeal</h1>
        </div>
        <div class="col-xs-3"></div>
      </div>
      {% for pair in pairs %}
        <div class="row zonerow">
          {% for zone in pair %}
          <div class="col-md-6 col-xs-12">
            <div class="row">
              <div class="col-md-12">
                <h2 class="zonetitle">{{ zone.name }}</h2>
              </div>
            </div>
            <div class="row gaugerow">
              <div class="col-xs-2"></div>
              <div class="col-xs-4" id="{{ zone.name }}-tgauge"></div>
              <div class="col-xs-4" id="{{ zone.name }}-hgauge"></div>
              <div class="col-xs-2"></div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div id="{{ zone.name }}-tline" class="linediv"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>